@charset "UTF-8";

:root{
    /* color */
    --black: #333;
    --white: #fff;
    --color-main: #FACBC3;
    --color-bg: #FBF2DC;
    --color-bg2: #FDEAD8;
    --color-bg3: #FCDFCF;
    --text-main: #495057;
    --text-color: #212529;
    --bg-image: url('../img/index_bg_light.jpeg');
    --icon: url(../img/icon_moon.png);
}
[data-theme="dark"] {
    --black: #fff;
    --white: #333;
    --color-main: #f0ebd8;
    --color-bg: #000;
    --color-bg2: #000;
    --color-bg3: #d6d6d6;
    --text-main: #f5f5f5;
    --text-color: #fff;
    --bg-image: url('../img/index_bg_dark.jpg');
    --icon: url(../img/icon_sun.png);
}

html,body,h1,h2,h3,h4,h5,p,div,span,img,ul,ol,li,header,main,footer,nav,section,a,strong,form,input,button,select,option {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: p400;
    line-height: 1;
    letter-spacing: -1px;
    height: 100%;
}
h1,h2,h3,h4,button,input {
    font-size: inherit;
    font-weight: normal;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:inherit;
}
.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip-path: polygon(0 0,0 0,0 0);
}
img {
    vertical-align: top;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#wrap{
    width: 100%;
    position: relative;
}
.main_tit{
    font-family: p700;
    font-size: 5rem;
    color: var(--text-main);
    padding: 10rem;
    transform: translateY(100%);
    opacity: 0;
}
.main_tit.on {
    animation: moveUp 1s ease-in-out both;
}
@keyframes moveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.main_text{
    font-family: p500;
    font-size: 2.5rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    line-height: 2;
}
#theme-toggle{
    background: var(--icon) no-repeat center / cover;
    object-fit: cover;
    position: fixed;
    top: 10rem;
    left: 2rem;
    color: var(--bg-color);
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
/* header */
#header{
    right:3rem;
    top:3rem;
    background: transparent;
    border-radius: 2rem;
    padding: 1rem;
    position: fixed;
    z-index: 9;
    transition: background-color 0.3s ease-in-out, border-bottom-color 0.7s ease-in-out;
}
#header .logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .logo a img{
    width: 8rem;
    height: 8rem;
}
#header .logo span{
    display: inline-block;
    font-size: 1.8rem;
    color: var(--color-main);
    font-family: p700;
}
#header .header_nav{
    position: relative;
}
#header .header_nav ul li{
    padding: 1rem;
}
#header .header_nav ul li a{
    display: block;
    font-size: 1.6rem;
    color: transparent;
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    position: relative;
}
#header .header_nav ul li a::before{
    content: '';
    width: 100%;
    height: 0.5rem;
    background-color: var(--color-main);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
}
#header .header_nav ul li a.active::before{
    transform: scaleX(1);
}

/* header-scroll */
#header.scroll_active{
    opacity: .8;
    background-color: var(--white);
}
#header.scroll_active .logo a{
    color: var(--color-bg3);
}
#header.scroll_active .header_nav ul li a{
    color: var(--text-color);
}

/* main */
#contents{
    width: 100%;
} 
.inner{
    width: 100%;
    max-width: 132rem;
    height: inherit;
    margin: 0 auto;
    padding-bottom: 15rem;
}
.page{
    background:var(--color-bg);
}
.page:nth-child(odd) {
    background-color: var(--color-bg2);
}
.portfolio_tit{
    font-family: p500;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 4rem;
}

/* index */
#contents > div:first-child{
    height: 100vh;
    background: var(--bg-image) no-repeat center center /  cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#index h2{
    font-size: 4.8611vw;
    margin-bottom: 4rem;
    font-family: p700;
    color: var(--text-main);
}
#index h2 span{
    display: block;
    animation: reveal 2s ease-in-out both;
}
#index h2 span:nth-child(2) {
    animation-delay: 0.4s;
}
@keyframes reveal {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
#index .index_txt{
    font-size: 2.4722vw;
    display: inline-block;
    font-style: italic;
    color: var(--text-main);
}
#index .scrollbox {
    position: fixed;
    left:50%;
    bottom:5rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 1.5rem;
    animation: scroll-ani 1.5s infinite both ease-in-out;
}
#index .scrollbox img{
    width: 1.5rem;
    height: 1.5rem;
}
@keyframes scroll-ani {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

/* about */
#about .inner{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}
#about .profile_box img{
    width: 45rem;
    height: 50rem;
    border-radius: 5rem;
    object-fit: cover;
}
#about .profile_box img:hover{
    content: url(../img/minchae_about_2.png);
}
#about .main_text{
    width: 60rem;
}
#about .main_text .main_text1{
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 2rem;
    color: var(--text-main);
}
#about .main_text .main_text2{
    font-size: 2rem;
}
#about .main_text a{
    display: block;
    width: 7rem;    
    height: 3rem;
    border-radius: 5rem;
    text-align: center;
    line-height: 3rem;
    color: var(--white);
    font-size: 1.5rem;
    margin-top: 3rem;
    background-color: var(--color-bg3);
}
#about .main_text a img{
    width: 7rem;
    height: 3rem;
    object-fit: cover;
}
#about .main_text a:hover {
    width: fit-content;
}
#about .main_text a:hover img{
    display: none;
}
#about .main_text a span{
    display: none;
    padding: 2rem;
}
#about .main_text a:hover span{
    display: inline;
}

#about .resume_wrap{
    width: 80rem;
}
#about .resume_wrap > div{
    padding: 2rem;
}
#about .resume_wrap h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color-main);
}
#about .resume_wrap .edu li,
#about .resume_wrap .licen li
{
    font-size: 1.3rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#about .resume_wrap .edu .edu_tit{
    font-size: 1.5rem;
    margin-right: 1rem;
}
#about .resume_wrap .edu .edu_txt{
    font-size: 1.3rem;
}
#about .resume_wrap .skill ul{
    display: flex;
    gap: 1rem;
}
#about .resume_wrap .skill li{
    width: 5rem;
    height: 5rem;
    background:var(--color-main);
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 5rem;
    text-align: center;
    color: var(--white);
}

/* web*/
/* 슬라이드*/
.swiper {
    width: 100%;
    height: 30rem;
    padding-bottom: 7rem;
}
.swiper-wrapper{
    position: relative;
}
.swiper-slide {
    text-align: center;
    font-size: 1.8rem;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}
.swiper-scrollbar-drag{
    background-color: var(--color-main);
}
#web .swiper-slide .portfolio_tit{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: var(--black);
    color: var(--white);
    text-align: center;
    padding: 2rem;
    opacity: 0;
    z-index: 9999;
}
#web .swiper-slide .portfolio_tit h3{
    font-size: 1.8rem;
}
#web .swiper-slide:hover .portfolio_tit{
    opacity: 1;
}
#web .swiper-slide:hover img{
    filter: grayscale(1) blur(4px)
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper_btn button {
    width: 5rem;
    height: 5rem;
    background:var(--color-bg3);
    color: var(--white);
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 50%;
}
.swiper_btn .start {
    display: none;
}

/* design */
/* 그리드-반응형 */
#design .design_box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
#design .design_box .popup-trigger{
    width: 100%;
    height: 20rem;
    border-radius: 0.8rem;
    cursor: pointer;
    background-color: var(--white);
    overflow: hidden;
    position: relative;
}
#design .design_box .popup-trigger img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#design .design_box .popup-trigger:hover img{
    filter: grayscale(1) blur(4px)
}
#design .design_box .popup-trigger .portfolio_tit{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: var(--black);
    color: var(--white);
    text-align: center;
    padding: 2rem;
    opacity: 0;
    z-index: 9999;
}
#design .design_box .popup-trigger:hover .portfolio_tit{
    opacity: 1;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.popup-content {
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    width: min(100%, 1000px);
    overflow-y: auto;
    background-color: var(--white);
    max-height: 80vh; 
    /* 팝업 내용의 최대 높이 설정 */
}
.popup-content h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}
.popup-content a{
    display: inline-block;
    background-color: var(--color-bg);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5rem;
    color: var(--text-color);
}
.popup-content img{
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}
.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
}

/* contact */
#contact .inner{
    display: flex;
    justify-content: center;
    gap: 5rem;
} 
#contact .contact_li > div{
    padding: 2.5rem;
}
#contact .contact_li img{
    width:5rem;
    height:5rem;
    border-radius: 100%;
    background:var(--color-bg3);
    padding: .8rem;
    object-fit: cover;
    margin-right: 1rem;
}
#contact .contact_li span{
    font-size: 2rem;
    line-height: 5rem;
    color: var(--text-color);
}

/* footer */
#footer{
    width: 100%;
    height: 10rem;
    background:var(--color-bg);
}
#footer p{
    display: block;
    font-size: 1.2rem;
    color: var(--text-color);
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 2;
    padding-top: 3rem;
}
#footer .copyright-txt{
    color: var(--text-main);
}